@import '../../variables.scss';

.adminPortalContainer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;

    button{
        cursor: pointer;
    }
}

.formHeader{
    width: 100%;
    // height: 8vh;
    padding: 20px 0;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accentColor;
    border: none;
    outline: none;
    color: #f1f1f1;
}

.employeeContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 65vw;
    margin-top: 40px;
}

.listContainer{
    // min-height: 40vh;
    max-height: 50vh;
    width: 25vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    
    
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    // margin-top: 25px;

    p{
        font-size: 1em;
        text-align: center;
        display: none;
    }

    input{
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        width: 25vw;
        padding: 10px 0;
        margin: 20px 0;
        text-align: center;
        font-size: 1.2em;
    }

    .formSubmitBtn{
        display: block;
        margin-top: 15px;
        width: 100%;
        // height: 8vh;
        padding: 20px 0;
        font-size: 1em;
        font-weight: 500;
        background: $accentColor;
        border: none;
        color: #f1f1f1;

        &:hover{
            background: $accentHover;
        }
    }
}

.requestPortal{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.requestsLength{

    width: 25vw;

    h2{
        font-weight: 400;
        text-align: center;
        font-size: 1.7em;
    }

    button{
        display: block;
        margin-top: 15px;
        width: 100%;
        // height: 8vh;
        padding: 20px 0px;
        font-size: 1em;
        font-weight: 500;
        background: $accentColor;
        border: none;
        color: #f1f1f1;

        &:hover{
            background: $accentHover;
        }
    }

    span{
        font-weight: 600;
        // text-shadow: -1px 1px 0px $secondaryColor, 1px -1px 0px $secondaryColor;
    }

    .pendingNum{
        color: #fbff1b;
    }

    .approvedNum{
        color: green;
    }

    .deniedNum{
        color: red;
    }
}



