@import '../../variables.scss';

.container{
    color: $primaryColor;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    &::after{
        background-attachment: fixed;
        background-image: url('../../images/business_bg.jpg');
        background-size: 130%;
        background-position: center;
        content: "";
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    }

    h2{
        font-size: 7em;
        text-shadow: 2px 1px 3px $shadowColor;
        margin-bottom: -20px;
        animation: showcaseIntro .9s linear, slideInRight 1.2s ease-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    h3{
        font-size: 1.7em;
        text-shadow: 2px 1px 3px $shadowColor;
        animation: showcaseIntro .9s linear, slideInLeft 1.2s ease-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }    

    h4{
        font-size: 1.7em;
        font-weight: 300;
        text-shadow: 2px 1px 3px $shadowColor;
        animation: usernameIntro .8s linear;
        animation-fill-mode: forwards;
        position: relative;
    }
} 

.button{
    border: none;
    padding: 15px 55px;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 40px;
    background: $primaryColor;
    transition: background-color .2s linear, transform .15s linear, box-shadow .2s linear;
    animation: showcaseIntro .6s linear .8s;
    animation-fill-mode: forwards;
    opacity: 0;
    box-shadow: 1px 1px 1px $shadowColor;

    &:hover{
        background-color: #d3e0dc;
        transform: scale(1.05);
        box-shadow: 2px 1px 3px $shadowColor;
    }
}

@keyframes showcaseIntro{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideInRight{
    from{padding-left: 100px;}
    to{padding-right: 0;}
}

@keyframes slideInLeft{
    from{padding-right: 100px;}
    to{padding-left: 0;}
}

@keyframes usernameIntro{
    from{opacity: 0;}
    to{opacity: 1;}
}