@import '../../variables.scss';

.container{
    color: $primaryColor;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    &::after{
        background-attachment: fixed;
        background-image: url('https://images.pexels.com/photos/374720/pexels-photo-374720.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: 150%;
        background-position:  center bottom;
        content: "";
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    }

    h2{
        font-size: 7em;
        text-shadow: 2px 2px 2px $shadowColor, -2px -2px 2px $shadowColor;
        // text-shadow: 1px 2px 1px $shadowColor, -1px -2px 1px $shadowColor;
        // margin-bottom: -20px;
        animation: showcaseIntro .9s linear, slideInRight 1.2s ease-out;
        animation-fill-mode: forwards;
        opacity: 0;
        margin: 10px;
        font-family: $courgette;
    }

    h3{
        font-size: 1.7em;
        font-family: $nunito;
        // text-shadow: 2px 1px 3px $shadowColor;
        text-shadow: 0px 0px 2px $shadowColor, 0px 0px 2px $shadowColor;
        animation: showcaseIntro .9s linear, slideInLeft 1.2s ease-out;
        animation-fill-mode: forwards;
        opacity: 0;
        margin: 0;
    }    
}

.button{
    border: none;
    padding: 15px 55px;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 30px;
    background: $accentColor;
    transition: background-color .2s linear, transform .15s linear, box-shadow .2s linear;
    animation: showcaseIntro .6s linear .8s;
    animation-fill-mode: forwards;
    opacity: 0;
    color: $primaryColor;
    box-shadow: 1px 1px 1px $shadowColor;

    &:hover{
        background-color: $accentColor;
        transform: scale(1.05);
        box-shadow: 2px 1px 3px $shadowColor;
    }
}

@keyframes showcaseIntro{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideInRight{
    from{padding-left: 100px;}
    to{padding-right: 0;}
}

@keyframes slideInLeft{
    from{padding-right: 100px;}
    to{padding-left: 0;}
}

@keyframes usernameIntro{
    from{opacity: 0;}
    to{opacity: 1;}
}

@media(max-width:768px){
    .showcase{
        &::after{
            background-size: 210%;
            background-attachment: scroll;
        }

        h2{
            font-size: 8em;
            animation: showcaseIntro .9s linear, slideInRight 1.2s ease-out;
            animation-fill-mode: forwards;
            opacity: 0;
            margin: 10px;
            font-family: $courgette;
        }
    
        h3{
            font-size: 2.5em;
            text-shadow: 0px 0px 2px $shadowColor, 0px 0px 2px $shadowColor;
            animation: showcaseIntro .9s linear, slideInLeft 1.2s ease-out;
            animation-fill-mode: forwards;
        }   
    }

    .button{
        padding: 25px 65px;
        font-size: 2em;
        opacity: 0;
        color: $primaryColor;
        box-shadow: 1px 1px 1px $shadowColor;
    
        &:hover{
            background-color: $accentColor;
            transform: none;
            box-shadow: none;
        }
    }
}

@media(max-width:525px){
    .showcase{
        &::after{       
            background-size: cover;
            height:100%;
            width:100%;
        }

        h2{
            font-size: 4.5em;
            animation: none;
            opacity: 1;
            margin: 10px;
            font-family: $courgette;
        }
    
        h3{
            font-size: 1.2em;
            text-shadow: 0px 0px 2px $shadowColor, 0px 0px 2px $shadowColor;
            animation: none;
            opacity: 1;
        }   
    }

    .button{
        padding: 20px 55px;
        font-size: 1.1em;
        opacity: 1;
        color: $primaryColor;
        box-shadow: 1px 1px 1px $shadowColor;
        animation: none;
    
        &:hover{
            background-color: none;
            transform: none;
            box-shadow: none;
        }
    }
}