.container{
    height: 80vh;
    color: #F1FFFA;
}

.container::after{
    background-attachment: fixed;
	background-image: url('../../images/business_bg.jpg');
	background-size: 130%;
    background-position: center;
	content: "";
    opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

.landing-flex{
    text-align: center;
    padding-top: 100px;
}

.landing-flex > h2{
    font-size: 7em;
    text-shadow: 2px 1px 3px #242424;
    margin-bottom: -20px;
}

.landing-flex > h3{
    font-size: 1.7em;
    text-shadow: 2px 1px 3px #242424;
}

.button{
    border: none;
    padding: 15px 55px;
    border-radius: 10px;
    font-size: 1.3em;
    box-shadow: 2px 1px 3px #242424;
    background: #F1FFFA;
    transition: background-color .2s linear, transform .3s linear;
}

.button:hover{
    background-color: #d3e0dc;
    transform: scale(1.04);
}