@import '../../variables.scss';

.spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.requestList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: ;
    width: 100vw;

    .requestMap{
        padding: 35px 15px;
        // border-top: 5px solid $accentColor;
        // border-bottom: 5px solid $accentColor;
        // border: 2px solid $secondaryColor;
        border-radius: 2em;
        margin: 25px 0;
        width: 40vw;

        p{
            border: 1px solid $accentColor;
            padding: 15px 20px;
        }

        .appStatus{
            text-align: center;
        }

        h2{
            font-size: 2em;

            &::after{
                content: '';
                border-right: 2px solid $accentColor;
                border-bottom: 2px solid $accentColor;
                padding: 5px 50px;
                margin-left: -90px;
                border-radius: 4px;
            }
        }
    }

    .filterBtns{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 12vh;
        margin-top: 10vh;
        margin-right: 5vw;
        height: 30vh;
        // border: 1px solid black;

        h3{
            padding: 0;
            margin: 0;
            text-decoration: underline;
        }

        button{
            border: none;
            background: $accentColor;
            padding: 15px 0px;
            font-size: 1em;
            color: $primaryColor;
            transition: background-color .2s linear;
            border-radius: 99999em;
            font-weight: 400;
            outline: none;
            width: 15vw;

            &:hover{
                background-color: $secondaryColor;
            }
        }
    }
}

.requestBtns{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    button{
        border: none;
        background: $accentColor;
        padding: 15px 50px;
        font-size: 1em;
        color: $primaryColor;
        transition: background-color .2s linear;
        border-radius: 9999em;
        font-weight: 600;

        &:hover{
            background-color: $secondaryColor;
        }
    }
}