@import '../../variables.scss';

.spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: $primaryColor;
}

.requestList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: ;
    width: 100vw;
    background: $primaryColor;

    button{
        cursor: pointer;
    }

    .requestMap{
        padding: 35px 15px;
        // border-top: 3px solid $accentColor;
        // border-bottom: 3px solid $accentColor;
        // border: 2px solid $accentHover;
        border-radius: 1em;
        margin: 25px 0;
        width: 40vw;

        p{
            border: 1px solid $accentColor;
            padding: 15px 20px;
        }

        .appStatus{
            text-align: center;
        }

        h2{
            font-size: 2em;

            &::after{
                content: '';
                border-right: 2px solid $accentColor;
                border-bottom: 2px solid $accentColor;
                padding: 5px 50px;
                margin-left: -90px;
                border-radius: 4px;
            }
        }
    }

    .filterBtns{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: sticky;
        top: 12vh;
        margin-top: 10vh;
        margin-right: 5vw;
        height: 30vh;
        // border: 1px solid black;

        h3{
            padding-bottom: 5px;
            margin: 0;
            // text-decoration: underline;
            // border-bottom: 2px solid $accentColor;
        }

        button{
            border: none;
            background: $accentColor;
            padding: 15px 0px;
            font-size: 1em;
            color: $primaryColor;
            transition: background-color .2s linear;
            border-radius: 9999em;
            font-weight: 400;
            outline: none;
            width: 15vw;

            &:hover{
                background-color: $accentHover;
            }

            &:focus{
                background: $accentHover;
            }
        }
    }
}

.arrow-down{
    // padding: 0 12px;
    // border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 105px;
}

.requestBtns{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    button{
        border: none;
        background: $accentColor;
        padding: 15px 50px;
        font-size: 1em;
        color: $primaryColor;
        transition: background-color .2s linear;
        // border-radius: 9999em;
        font-weight: 700;
        outline: none;

        &:hover{
            background-color: $accentHover;
        }

        // &:active{
        //     background: $accentHover;
        // }
    }
}

.dropdown{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.dropdown-content{
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 130%;
    max-height: 30vh;
    margin-top: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    overflow: scroll;
    background: $accentColor;
    // top: 75px;
    outline: none;
    transition: all 1s linear;

    &:focus{
        opacity: .8;
    }
}

// .dropdown:focus .dropdown-content{
//     display: block;
//     // top: 15px;
// }

.employeeBtn{
    width: 100%;
}

