@import '../../variables.scss';

.navbar{
    background: $darkBlue;
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $primaryColor;
    position: sticky;
    top:0;
    z-index: 3;
    // opacity: 0.9;
    // border-bottom: 0.5vh solid $accentColor;
        
        a{
            color: $primaryColor;
            text-decoration: none;
        }

    .logo{
        display: flex;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        width: 145px;
        font-family: $lobster;
        z-index: 3;
        // font-family: $courgette;
        // border: 1px solid white;
    }
}

.mobileNav{
    display: none;
}

.links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

        a{
            margin: 5px 15px;
            font-family: $nunito;

            &::after{
                content: "";
                display: block;
                width: 0;
                height: 3px;
                margin-top: 2px;
                background: $accentColor;
                transition: width .3s;
            }

            &:hover::after{
                width: 100%;
                transition: width .3s;
            }
        }

        // button{
        //     border: none;
        //     font-size: .8em;
        //     color: $primaryColor;
        //     background: $accentColor;
        //     padding: 5px 10px;
        //     outline: none;
        //     border-radius: 5px;
        //     // box-shadow: 0px 5px 1px $accentHover, 0 2px 1px $accentHover;
        //     // box-shadow: 0px 6px 0px $accentHover;
        //     cursor: pointer;
        //     text-decoration: none;
        //     outline: none;
        //     box-shadow: 0 4px #c24440;

        //     &:active{
        //         // background-color: ;
        //         box-shadow: 0 2px $accentHover;
        //         transform: translateY(2px);
        //     }
        // }
}

@media(max-width:768px){
    .links{
        display: none;
    }
    .mobileNav{
        display: block;
        position: relative;
        z-index: 3;
    }
    .mobile-links{
        position: absolute;
        list-style-type: none;
        top: 9vh;
        // left: 50vw;
        background:$darkBlue;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        align-content: stretch;
        min-width: 100%;
        // min-height: vh;
        font-size: 1.1em;
        z-index: 1;
        animation-duration: .4s;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.616);
        
        a{  
            padding: 20px 0;
            margin: 2px 0;
            color:$primaryColor;
            // border-top: 2px solid $darkBlue;
            background: $accentColor;
            text-decoration: none;

                &:nth-last-child(1){
                     // border-bottom: 2px solid $darkBlue;
                     margin-bottom: 0px;
                }
        }
    }
}

@media(max-width:525px){
    .mobile-links{
        font-size: 1.0em;
    }
}