@import '../../variables.scss';

.navbar{
    background: $secondaryColor;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $primaryColor;
    opacity: 0.9;
    position: sticky;
    top:0;
        
        a{
            color: $primaryColor;
            text-decoration:none;
        }
}

.links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;

        a{
            display: block;
            padding: 15px 25px;
            font-size: 1.05em;

            &:focus{
                color: $highlightColor;
            }

            &::after{
                content: "";
                display: block;
                width: 0;
                height: 3px;
                margin-top: 2px;
                background: $accentColor;
                transition: width .3s;
            }

            &:hover::after{
                width: 100%;
                transition: width .3s;
            }
        }
}