.navbar{
    background: #242424;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F1FFFA;
    opacity: 0.9;
}

.navbar a{
    color: #F1FFFA;
    text-decoration:none;
}

.links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.links > a{
    display: block;
    padding: 15px 25px;
    font-size: 1.1em;
}

.links > a:focus{
    color: #cabdb1;
}

.links > a::after{
    content: "";
    display: block;
	width: 0;
    height: 3px;
    margin-top: 2px;
	background: #7C90A0;
	transition: width .3s;
}

.links > a:hover::after{
	width: 100%;
	transition: width .3s;
}