@import '../../variables.scss';

.navbar{
    background: $darkBlue;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $primaryColor;
    // opacity: 0.9;
    // border-bottom: 0.5vh solid $accentColor;
    position: sticky;
    top:0;
    z-index: 1;
        
        a{
            color: $primaryColor;
            text-decoration: none;
        }

    .logo{
        display: flex;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        width: 145px;
        // font-family: $courgette;
        font-family: $lobster;
        // border: 1px solid white;
    }
}

.links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;

        a{
            margin: 5px 15px;
            font-family: $nunito;

            // &:focus{
            //     color: $highlightColor;
            // }

            // &::before{
            //     content: "";
            //     display: block;
            //     width: 0;
            //     height: 5px;
            //     margin-top: 2px;
            //     background: $accentColor;
            //     transition: width .3s;
            // }

            // &:hover::before{
            //     width: 100%;
            //     transition: width .3s;
            // }

            &::after{
                content: "";
                display: block;
                width: 0;
                height: 3px;
                margin-top: 2px;
                background: $accentColor;
                transition: width .3s;
            }

            &:hover::after{
                width: 100%;
                transition: width .3s;
            }

            // &.selected{
            //     // content: "";
            //     // display: block;
            //     // width: 100%;
            //     // height: 3px;
            //     // margin-top: 2px;
            //     // background: $accentColor;
            //     color: $accentColor;
            // }
        }

}