@import '../../variables.scss';

.footer-container{
    width: 100vw;
    height: 15vh;
    padding: 10px 0;
    background: $darkBlue;
    color: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content{
    display: flex;
    flex-direction: column;
    // justify-content: baseline;
    align-items: center;
    width: 100vw;

    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p{
            font-size: .8em;
        }
    }

    .social-icons{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 10%;

        span{
            &:hover{
                // color: $accentColor;
                &:nth-child(1){
                    color: #4267B2;
                }

                &:nth-child(2){
                    color: #1DA1F2;
                }

                &:nth-child(3){
                    color: #986D4F;
                }
            }
        }
    }
}

@media(max-width:768px){
    .social-icons{
        width: 20% !important;
    }
}

@media(max-width:525px){
    .social-icons{
        width: 30% !important;
    }
}