@import '../../variables.scss';

.detail-container{
    width: 100vw;
    color: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    

    p{
        font-family: $nunito;
        text-align: center;
    }

    .detail-content{
        display:flex;
        padding: 100px 0;
        width: 100vw;
        justify-content: space-around;
        align-items: baseline;

        &>div{
            width: 35vw;
            padding: 0px 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                border-top: 2px solid $accentColor;
                padding-top: 5px;
            }
        }
    }
}

@media(max-width: 768px){
    .detail-content{
        flex-direction: column !important;
        padding: 0 !important;
        width: 6vw !important;
        justify-content: center !important;
        align-items: center !important;

        &>div{
            width: 90vw !important;
            padding: 40px 0 !important;
        }
    }
}

@media(max-width:375px){
    .detail-content{
        flex-direction: column !important;
        padding: 0 !important;
        width: 80vw !important;
        justify-content: center !important;
        align-items: center !important;

        &>div{
            width: 90vw !important;
            padding: 40px 0;
        }
    }
}