@import '../../variables.scss';

.main-container{
    width: 100vw;
    height: 90vh;
    // background-color: #f1f1f1;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    &::after{
        background-attachment: fixed;
        background-image: url('../../images/bg_2.jpg');
        background-size: 140%;
        background-position: center top;
        content: "";
        opacity: .6;
        top: 0em;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    }

    .review-container-mobile-version{
        display: none;
    }

    .review{
        width: 50vw;
        height: 30vh;
        margin: auto;
        padding: 0 10px;
        // text-align: center;
        background: #f1f1f1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        box-shadow: 2px 5px 15px 1px $secondaryColor;

        h3, p{
            // padding: 0 35px;
        }

        h3{
            font-size: 1.5em;
            font-weight: 500;
            text-align: center;
            border-bottom: 2px solid $accentColor;
            width: 45%;
            margin: auto;
            padding-bottom: 5px;
            font-family: $courgette;

            &::after{
                // content: '';
                // border-right: 2px solid $accentColor;
                
                padding: 5px 30px;
                margin-left: -50px;
                border-radius: 4px;
            }
        }

        p{
            font-weight: 400px;
            text-align: center;
            font-family: $nunito;

            &:nth-last-child(1){
                font-style: italic;
            }
        }

        .quotes{
            color: $accentColor;
            padding: 0 35px;
            transform: translateY(-35px);
        }
    }

    .review-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }
}

.slide-arrow{
    background: white;
    color: $accentColor;
    border-radius: 9999em;
    cursor: pointer;

    &:hover{
        color: $accentHover;
    }
}

@media(max-width:768px){
    .main-container{
        &::after{
            background-attachment: scroll;
            background-size: 280%;
        }
    }

    .review-container{
        display: none !important;
    }

    .review-container-mobile-version{
        display: initial !important;
    }

    .review{
        width: 80vw !important;

        h3{
            font-size: 1.7em !important;
            font-weight: 500;
            text-align: center;
            border-bottom: 2px solid $accentColor;
            width: 45%;
            margin: auto;
            padding-bottom: 5px;
            font-family: $courgette;

            &::after{
                // content: '';
                // border-right: 2px solid $accentColor;
                
                padding: 5px 30px;
                margin-left: -50px;
                border-radius: 4px;
            }
        }

        p{
            font-size: 1.1em;
        }

        .quotes{
            color: $accentColor;
            padding: 0 35px;
            transform: translateY(-35px);
        }
    }
}

@media(max-width: 450px){
    .main-container{
        &::after{
            background-attachment: scroll;
            background-size: 280%;
        }
    }

    .review-container{
        display: none !important;
    }

    .review-container-mobile-version{
        display: initial !important;
    }

    .review{
        width: 90vw !important;
        min-height: 40vh !important;
        padding: 0 !important;

        h3{
            font-size: 1.3em !important;
            font-weight: 500;
            width: 50% !important;
            margin: auto;
            padding-bottom: 10px !important;
        }

        p{
            font-size: 0.9em;
        }

        .quotes{
            padding: 0 15px !important;
            transform: translateY(-35px);
        }
    }
}