.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
}

.inputs{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #242424;
}

.inputs > p{
    font-size: 1.5em;
}

.inputs > p:nth-child(3){
    padding-top: 30px;
}

.inputs > input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #242424;
    transition: border-bottom .2s linear;
    font-size: 2em;
    color: #505050;
    text-align: center;
    padding-top: 20px;
}

.inputs > input:focus{
    outline: none;
    border-bottom: 2px solid #242424;
}

.login-container > button{
    margin-top: 5vh;
    border: none;
    font-size: 1.5em;
    background: #242424dd;
    transition: background-color .3s linear;
    color: #F1FFFA;
    min-width: 25vw;
    height: 10vh;
}

.login-container > button:hover{
    background-color: #242424f7;
}