@import '../../variables.scss';

.login-page-container{
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: auto;
    // border: 1px solid black;

    button{
        margin: 15px 0;
        border: none;
        font-size: 1.5em;
        background: $accentColor;
        transition: background-color .15s linear;
        color: $primaryColor;
        height: 10vh;

        &:hover{
            background-color: $accentHover;
        }
    }
}

.inputs{
    text-align: left;
    display: flex;
    flex-direction: column;
    color: $secondaryColor;
   
    p{
        font-size: 1.1em;
        z-index: -1;
        opacity: .5;
    }

    input{
        background: transparent;
        border: none;
        border-bottom: 2px solid #2424244c;
        transition: border-bottom .2s ease-out;
        font-size: 1.5em;
        color: #505050;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 10px;
        // transition: margin .3s linear;

        &:focus{
            outline: none;
            border-bottom: 2px solid #242424;
        }
    }
}

@media(max-width:768px){
    .login-container{
        width: 70vw;
    }
}

@media(max-width: 525px){
    .login-container{
        width:85vw;
        animation: none !important;
    }
}