
// Colors
$primaryColor: #f7f7f7;
$secondaryColor: #242424;
$shadowColor: #242424;
$accentColor: #F0544F;
$accentHover: #cf3833;
$highlightColor: #cabdb1;
$darkBlue: #232A34;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Courgette|Nunito|Lobster+Two');
$courgette: 'Courgette', cursive;
$nunito: 'Nunito', sans-serif;
$lobster: 'Lobster Two', cursive;